// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

$navbar-height: 80px;
$bacground-color: #0f1114;
$color: #61dafb;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: $bacground-color;
    color: $color;
    z-index: 100;
    transition: top 0.3s;

    padding-left: 20px;

    display: flex;
    align-items: center;
}

.navbar--hidden {
    top: -$navbar-height;
}
